@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: Robot;
  font-size: 16px;
  line-height: 1.7;
  color: #707070;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ------------------------------------------
      ブレークポイントの mixin 定義
  ------------------------------------------- */
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@media screen and (min-width: 1025px) {
  .l-footer {
    z-index: 1000;
  }
}

body {
  overflow-x: hidden;
}

.body-active {
  /* ここを追加した */
  position: fixed;
}

@media screen and (min-width: 1025px) {
  .l-header {
    width: calc(100vw - 300px);
  }
}

@media screen and (min-width: 600px) {
  .l-branch-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 最上部のMenuがあるブロック全体のcss */
.c-btn__gridlayout {
  display: block;
  background-color: #fff7ef;
}
@media screen and (min-width: 1025px) {
  .c-btn__gridlayout {
    background-color: #F2EDE9;
  }
}

/* 最上部の Menuのボタン css */
.c-btn__nav {
  color: #707070;
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin: 0 0 0 auto;
  padding: 15px 15px 0 0;
  border: none;
  background: transparent;
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-btn__nav {
    font-size: 30px;
    margin: 0 0 0 45px;
    padding: 90px 0 0 0;
  }
}

.c-btn__nav:hover {
  cursor: pointer;
  color: blue;
}
@media screen and (min-width: 1025px) {
  .c-btn__nav:hover {
    cursor: auto;
    color: #707070;
  }
}

/* サイドバーの上部の✖️のcss */
.c-sidebar__icon {
  margin: 50px 15px 0 calc(87.5vw - 65px);
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 600px) {
  .c-sidebar__icon {
    margin: 25px 15px 0 calc(45vw - 65px);
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-sidebar__icon {
    display: none;
  }
}
.c-sidebar__icon span {
  /* ここから✖️印にするcss */
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.c-sidebar__icon:hover {
  cursor: pointer;
}

.c-sidebar__icon__1 {
  background-color: #707070;
  top: 12px;
  transform: rotate(45deg);
}

.c-sidebar__icon__2 {
  background-color: #707070;
  top: 12px;
  transform: rotate(-45deg);
}

/* ✖️印のcss ここまで */
/* --------------------
   archiveページ  
  --------------------*/
/* 「詳しく見る」ボタン */
.c-btn__archive {
  display: block;
  width: 200px;
  height: 50px;
  margin: 50px auto 20px auto;
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50px;
}

.c-btn__archive:hover {
  cursor: pointer;
}

.p-burgerlist__text__archive a {
  text-decoration: none;
  color: #707070;
}

/* --- ページネーション --- */
.p-pagenation__page {
  margin-top: 40px;
}

.p-pagenation__list {
  font-size: 15px;
}

.p-pagenation__btn span {
  color: #3C2A10;
}
@media screen and (min-width: 600px) {
  .p-pagenation__btn span {
    display: none;
  }
}

/* ---------------------------------------
      single ページ
  ----------------------------------------*/
/* 画面最下部のボタン */
.c-btn__single {
  margin: 20px;
}
.c-btn__single button {
  width: 100%;
  height: 100px;
  background-color: #F2EDE9;
  border: 1px solid;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
}
.c-btn__single button:hover {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .c-btn__single button {
    width: 550px;
  }
}

/* bold のところ */
.c-boldtext {
  margin: 20px 20px 200px 20px;
  font-weight: bold;
  color: #3C2A10;
}

.c-gridlayout__outside {
  display: grid;
  grid-template-columns: 100vw 300px;
  grid-template-rows: 50px 160px auto 200px;
}
@media screen and (min-width: 1025px) {
  .c-gridlayout__outside {
    grid-template-columns: calc(100vw - 300px) 300px;
  }
}

.c-btn__gridlayout {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (min-width: 1025px) {
  .c-btn__gridlayout {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.c-header {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (min-width: 1025px) {
  .c-header {
    grid-row: 1/3;
  }
}

.c-gridlayout__main__index {
  grid-column: 1/2;
  grid-row: 3/4;
}
.c-footer__gridlayout {
  grid-column: 1/2;
  grid-row: 4/5;
}
@media screen and (min-width: 1025px) {
  .c-footer__gridlayout {
    grid-column: 1/3;
  }
}

.c-sidebar__gridlayout {
  grid-column: 2/3;
  grid-row: 1/5;
}
@media screen and (min-width: 1025px) {
  .c-sidebar__gridlayout {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

/* ヘッダー */
.c-header {
  background-color: #fff7ef;
  text-align: center;
}

.c-logo__h1 {
  margin-top: 5px;
}

/* ヘッダー PC版の並び方を左右並びに変更 */
@media screen and (min-width: 1025px) {
  .c-header__pcdisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
}

/* ------------------
    archiveページ
  ------------------- */
/* 影付きのハンバーガー画像のところ */
.c-smallheading__archive {
  padding: 20px 20px 0 20px;
}
.c-smallheading__archive h3 {
  font-size: 30px;
}
.c-smallheading__archive p {
  font-size: 20px;
}

/* ------------------
    single ページ
  ------------------- */
/* まん中のチーズバーガー写真 */
.c-cheezburger__midlesnap {
  display: block;
  width: calc(100vw - 50px);
  height: calc((100vw - 50px) * 0.35);
  margin: 0 auto;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
@media screen and (min-width: 1025px) {
  .c-cheezburger__midlesnap {
    padding: 0 20px;
  }
}

/* チーズバーガーの小さい写真とコメントを並列に記載するところ */
.c-cheezburger__smallsnap {
  margin: 40px 20px;
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}
.c-cheezburger__smallsnap img {
  margin: 0 0 auto 0;
  width: 38vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.c-cheezburger__smallsnap p {
  margin: 0;
}

/* 下の横長まん中に配置の部分 */
.c-cheezburger__rargesnap {
  display: block;
  width: 70vw;
  height: 40vw;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .c-cheezburger__rargesnap {
    width: 45vw;
    height: 25vw;
  }
}

/* リストリストの部分 */
.c-listview__single {
  display: inline-block;
  margin: 40px 0 40px 80px;
}
.c-listview__single ul li {
  list-style: none;
  text-indent: -1.5em;
}

.c-listview__first__single, .c-listview__second__single {
  margin-left: 1em;
}

.c-textindent {
  margin-left: -1em;
  text-indent: 0em;
}

/* html〜要素を表示するところ */
.c-alphavetview__single {
  margin: 10px 20px;
  background-color: #F5F5F5;
}

/* 検索フォーム */
.p-search-form {
  margin-top: 10px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .p-search-form {
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.p-search-form__submit {
  background-color: #F2EDE9;
  font-size: 16px;
  margin-left: 10px;
  width: 80px;
  height: 45px;
  border: 1px solid #707070;
  border-radius: 10px;
}

.p-search-form__submit:hover {
  cursor: pointer;
}

.c-logo__h1 {
  margin-bottom: 15px;
  /* Humbergar と 検索ボックスの行間の調整 */
}
@media screen and (min-width: 1025px) {
  .c-logo__h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .c-header__pcdisplay {
    margin-top: 70px;
  }
}
.c-header__pcdisplay a {
  text-decoration: none;
  color: #707070;
}

/* 検索ボックスの虫眼鏡 */
.screen-reader-text {
  display: inline-block;
  /* なくても大丈夫 */
  position: relative;
  /* 基準値 */
}

.screen-reader-text::before {
  content: "";
  /* 疑似要素に必須 */
  width: 24px;
  /* アイコンの横幅 */
  height: 24px;
  /* アイコンの高さ */
  background: url(../img/serchglass.png) no-repeat center center;
  /* 背景にアイコン画像を配置 */
  display: inline-block;
  /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;
  /* 相対位置に指定 */
  top: 12px;
  /* アイコンの位置 */
  left: 13px;
  /* アイコンの位置 */
}

.p-search-form__keyword {
  padding: 4px 10px 3px 40px;
  /* アイコンを設置するため左の余白を多めに指定 */
  width: 230px;
  height: 45px;
  border: 1px solid #707070;
  border-radius: 10px;
}

/*-----------------------------------------------------------------
   WordPress用の虫眼鏡の配置
  -----------------------------------------------------------------*/
.p-search-form {
  display: inline-block;
  /* なくても大丈夫 */
  position: relative;
  /* 基準値 */
}

.searchglass {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  /* アイコンの位置 */
  left: 15px;
  /* アイコンの位置 */
}

/* まん中の３バーガーとポテトの画像部分 */
.p-branch-menu ul {
  padding: 0;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 30px;
}
@media screen and (min-width: 600px) {
  .p-branch-menu ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 50px;
    gap: 50px;
  }
}
.p-branch-menu ul .p-threeburgers {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (min-width: 600px) {
  .p-branch-menu ul .p-threeburgers {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.p-branch-menu ul .p-potato {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (min-width: 600px) {
  .p-branch-menu ul .p-potato {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.p-branch-menu ul .p-threeburgers {
  width: 100%;
  height: calc((100vw - 40px) * 1.9164);
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-branch-menu ul .p-threeburgers {
    width: 100%;
    height: calc((100vw - 40px) * 0.95);
  }
}
@media screen and (min-width: 1025px) {
  .p-branch-menu ul .p-threeburgers {
    height: calc((100vw - 40px) * 0.7);
  }
}
.p-branch-menu ul .p-threeburgers h3 {
  font-size: 41px;
  color: #ffffff;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 0;
}

.p-threeburgers {
  background-image: url(../img/three-burgers.jpg);
  background-size: cover;
}

/* ３バーガー画面 TakeOutの下線 */
.p-threeburgers {
  position: relative;
}

.p-threeburgers h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: 10px;
}

/* ポテトの画面 */
.p-potato {
  width: 100%;
  height: calc((100vw - 40px) * 1.9164);
  background-image: url(../img/potato.jpg);
  background-size: cover;
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-potato {
    width: 100%;
    height: calc((100vw - 40px) * 0.95);
    margin-top: 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-potato {
    height: calc((100vw - 40px) * 0.7);
  }
}
.p-potato h3 {
  font-size: 41px;
  color: #ffffff;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 0;
}

/* ポテト画面 Eat Inの下線 */
.p-potato {
  position: relative;
}

.p-potato h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: 10px;
}

/* TakeOut EatIn の中身 */
.p-takeout dl {
  display: inline-block;
  width: calc(100% - 20px);
  height: auto;
  background-color: #ffffff;
  opacity: 0.8;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.p-takeout dl dt {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: M1m;
  font-size: 22px;
  font-weight: bold;
  color: #3c2a10;
}
.p-takeout dl dd {
  margin: 0 10px 25px 10px;
  font-family: M1m;
  font-size: 16px;
  color: #3c2a10;
}

/* ---------------------------------------------
     single ページ
  ----------------------------------------------*/
/* テーブルブロックの装飾 */
.p-tableblock {
  margin: 20px;
}
.p-tableblock th, .p-tableblock td {
  height: 70px;
  font-weight: 100;
  border: solid 1px;
}
.p-tableblock th {
  width: 130px;
}
.p-tableblock td {
  width: calc(100vw - 113px);
}

/* -------------------------------------
     index
   ------------------------------------- */
/* ページ最下段の地図 */
.p-section {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0;
  background-image: url(../img/iphone-map.jpg);
  width: 100vw;
  height: 184vw;
  background-repeat: no-repeat;
  background-size: cover;
  /* 地図の中のコメント */
}
@media screen and (min-width: 600px) {
  .p-section {
    background-image: url(../img/tablet-map.jpg);
    height: 50vw;
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) {
  .p-section {
    background-image: url(../img/pc-map.jpg);
    width: calc(100vw - 300px);
    height: 30vw;
  }
}
.p-section h4 {
  position: absolute;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  z-index: 96;
}
.p-section p {
  position: absolute;
  color: #fff;
  margin: 0;
  font-size: 16px;
  padding: 130px 40px 50px 40px;
  z-index: 96;
}
@media screen and (min-width: 1025px) {
  .p-section p {
    width: 65%;
  }
}

/* 地図の背景を黒く透過する */
.p-section::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: 95;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
}
@media screen and (min-width: 1025px) {
  .p-section::before {
    width: 65%;
  }
}

/* ---------------------------------------
     全ページ共通のフッター
  ---------------------------------------- */
/* --- footer --- */
.l-footer {
  margin-top: 0;
  padding-top: 0;
  width: 100vw;
  height: 200px;
  text-align: center;
  background-color: #9d8670;
}
.l-footer .p-footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0 0 0;
}
.l-footer .p-footer li {
  display: block;
  width: auto;
  padding: 0 10px;
  font-size: 20px;
  color: #ffffff;
  list-style: none;
}
.l-footer .p-footer li:hover {
  cursor: pointer;
}

.p-footer__1 {
  border-right: 1px #ffffff solid;
}

.copyright {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  color: #ffffff;
}

.p-footer a {
  text-decoration: none;
  color: #ffffff;
}

/* ---------------------------------------
   archiveページ 
  ----------------------------------------*/
/* バーガーの写真と小見出しのブロック */
/*
.p-burgerlist__archive {           // これは１つのブロックの指定（自動調整される）
  ul {
  margin: 0 20px 20px 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }

  li {              // 個々のリスト
    width: 100%;
    display: block;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    background-color: #3C2B1C;
//    border: 0px red solid;   //
    color: #fff;
    @media screen and (min-width: 600px) {
      width: calc((100vw - 40px) / 2);
      height: calc((100vw - 40px) * 0.45);
      background-position: center;
      @media screen and (min-width: 1025px) {
        width: calc((100vw - 340px) / 2);
        height: calc((100vw - 340px) * 0.37);  
      }
    }
    h4 {
      margin: 9% 0;         // margin: 30px 0;
      font-size: 30px;        // font-size: 30px;
      @media screen and (min-width: 600px) {

      }
    }
    h5 {
      margin: 0;
      font-size: 22px;     // 22px
      @media screen and (min-width: 600px) {
      }
    }
    p {
      font-size: 15px;
      @media screen and (min-width: 600px) {
        font-size: 2vw;
        @media screen and (min-width: 1025px) {
          font-size: 1.3vw;
        }
      }
    }
    }
  }
}

.p-burgerlist__foto__archive {
  display: block;
  width: 100%;
  height: calc((100vw - 40px) * 0.7 );
  background-image: url(../img/burgersnap.jpg);
  background-size: cover;
  @media screen and (min-width: 1025px) {
  }
}
*/
.p-burgerlist__archive {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 20px;
}
@media screen and (min-width: 600px) {
  .p-burgerlist__archive {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.p-burgerlist__foto__archive {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 600px) {
  .p-burgerlist__foto__archive {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 100%;
       object-position: 0% 100%;
  }
}

.p-burgerlist__archive img {
  /* wordpress吐き出し対応にした!!! */
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 600px) {
  .p-burgerlist__archive img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}

.p-burgerlist__text__archive {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #3C2B1C;
  color: #ffffff;
}
@media screen and (min-width: 600px) {
  .p-burgerlist__text__archive {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.p-burgerlist__text__archive h4 {
  margin: 20px 0 20px 20px;
  font-size: 30px;
}
@media screen and (min-width: 600px) {
  .p-burgerlist__text__archive h4 {
    font-size: 22px;
  }
}
.p-burgerlist__text__archive h5 {
  margin: 0 0 0 20px;
  font-size: 22px;
}
@media screen and (min-width: 600px) {
  .p-burgerlist__text__archive h5 {
    font-size: 18px;
  }
}
.p-burgerlist__text__archive p {
  margin: 5px 20px 0 20px;
  font-size: 15px;
}

/* 地図見出しの下線 */
.p-section {
  position: relative;
}

.p-section h4::after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  z-index: 96;
  top: 100px;
  left: 40px;
}

/* -------------------------- 
    archiveページ 
----------------------------*/
/* ページネーション */
/*
.p-pagenation {
  display: flex;
  justify-content: center;
  font-size: 13px;
  .p-pagenation__page {    //page 1/10 のところ
    display: none;
    height: 50px;
    line-height: 50px;
    @include base.mq(tb) {             // @media screen and (min-width: 600px)
      display: block;
    }
  }
}
  .p-pagenation__list {
    ul {
    width: 100vw;
    padding: 0 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    @include base.mq(tb) {             // @media screen and (min-width: 600px)
      width: 100%;
      padding: 30px;
    }
    .p-pagenation__btn {
      display: inline;
      list-style: none;
      padding: 5px 10px;

    }
    .p-pagenation__number {
      display: block;
      list-style: none;
      padding: 5px 10px;
      border: 1px #ccc solid;
      display: none;
      cursor: pointer;
      &:active {
        background-color: #3C2B1C;
        color: #fff;
      }
      @include base.mq(tb) {            // @media screen and (min-width: 600px)
        display: block;
        margin: 0 5px;
      }
    }
  }
}*/
/*-----------------------------------------------
   WordPress用のページネーションの調整
  -----------------------------------------------*/
.p-pagenation__wplist {
  margin: 0 25px 0 25px;
  width: 90%;
  text-align: right;
}
@media screen and (min-width: 600px) {
  .p-pagenation__wplist {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.wp-pagenavi {
  width: 100%;
  font-size: 15px;
  margin: 40px 0 0 0;
  padding: 20px 0 20px 0;
  text-align: left;
  display: table;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}

.pages {
  display: inline-block;
  display: none;
}
@media screen and (min-width: 600px) {
  .pages {
    display: inline-block;
    height: 50px;
    line-height: 50px;
  }
}

.previouspostslink {
  display: inline-block;
  color: #3C2A10;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .previouspostslink {
    display: inline-block;
    padding: 0 0 0 25px;
  }
}
.previouspostslink span {
  display: inline-block;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .previouspostslink span {
    display: none;
    margin-left: 25px;
  }
}

.current, .page {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px 15px;
  color: #3C2B1C;
  border: 1px #ccc solid;
  cursor: pointer;
  display: none;
}
.current:active, .page:active {
  background-color: #3C2B1C;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .current, .page {
    display: inline-block;
  }
}

.nextpostslink {
  margin: 0 0 0 auto;
  display: table-cell;
  text-align: right;
  color: #3C2A10;
  font-size: 25px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .nextpostslink {
    display: inline-block;
    padding: 0 0 0 25px;
    margin: 0;
  }
}
.nextpostslink span {
  font-size: 20px;
  display: inline-block;
}
@media screen and (min-width: 600px) {
  .nextpostslink span {
    display: none;
  }
}

/* -----------------------
  singleページ
  ------------------------*/
.p-paragraph__single {
  margin: 30px 25px;
  color: #3C2A10;
  /* Blockquote 引用タグ */
}
.p-paragraph__single h3 {
  font-size: 30px;
}
.p-paragraph__single h4 {
  font-size: 25px;
}
.p-paragraph__single h5 {
  font-size: 20px;
}
.p-paragraph__single blockquote {
  margin: 0;
  padding: 20px 20px;
  background-color: #F5F5F5;
}

/* ９バーガーグリッドレイアウト */
.p-cheezburger__9grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px;
}

.p-sidebar h5 a {
  text-decoration: none;
  color: #707070;
}
.p-sidebar ul li a {
  text-decoration: none;
  color: #707070;
}

.l-main {
  position: relative;
}

/* サイドバー登場と同時の黒い背景 */
.c-header.panelactive::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  -webkit-animation: animation-fadein 0.6s linear;
          animation: animation-fadein 0.6s linear;
}
@media screen and (min-width: 600px) {
  .c-header.panelactive::before {
    height: 100%;
  }
}

@-webkit-keyframes animation-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes animation-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/* サイドバーのcss */
.p-sidebar {
  display: block;
  list-style: none;
  background-color: #F2EDE9;
  z-index: 1001;
  transition: all 0.6s;
  padding-bottom: 50px;
  /* サイドバータブレットの場合 */
  /* サイドバーPCの場合 */
  /* サイドバーのリスト部分 */
}
@media screen and (min-width: 1025px) {
  .p-sidebar {
    left: auto;
    right: 0;
  }
}
.p-sidebar .p-sidebar__category {
  padding-top: 150px;
  padding-left: 45px;
  /* PC版は トップ 0 にする*/
}
@media screen and (min-width: 1025px) {
  .p-sidebar .p-sidebar__category {
    padding-top: 0;
  }
}
.p-sidebar h5 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.p-sidebar ul {
  margin-top: 0;
  padding-left: 20px;
}
.p-sidebar ul li {
  list-style: none;
  font-size: 20px;
  line-height: 60px;
}

.p-sidebar__category a {
  /* wordpress用の調整！！！ */
  font-size: 20px;
  color: #707070;
}

.menu-item-type-taxonomy > a {
  font-size: 25px;
  font-weight: bold;
}

/* Menu クリックで左からサイドバー出現 */
/*
.active {
  left: calc(100vw * 0.125);
  @media screen and (min-width: 600px) {
    left: calc(100vw * 0.55);
  }  
}
*/
/* グリッド用に変更後 */
.active {
  margin-left: -87.5vw;
  max-height: 100vh;
  overflow-y: scroll;
}
@media screen and (min-width: 600px) {
  .active {
    margin-left: -45vw;
  }
}

/* ------------------------------------
      index
   ------------------------------------ */
/* 上部の「ダミーサイト」のところ */
.u_contents-h2 {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: 76vw;
  line-height: 76vw;
  background-image: url("../img/iphone_damiisite.jpg");
  background-size: contain;
  color: #ffffff;
  font-size: 36px;
  padding-left: 25px;
}
@media screen and (min-width: 600px) {
  .u_contents-h2 {
    background-image: url("../img/pc_damiisite.jpg");
    height: 27vw;
    line-height: 27vw;
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) {
  .u_contents-h2 {
    width: calc(100vw - 300px);
  }
}

/*------------------------------------------ 
   archive.page の部分
  ----------------------------------------- */
/* Menu チーズバーガーの部分 */
.c-contents__archive {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: 76vw;
  line-height: 76vw;
  background-image: url("../img/arvhive_burger.jpg");
  background-size: cover;
  color: #ffffff;
  font-size: 36px;
  padding-left: 25px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .c-contents__archive {
    background-image: url("../img/archive_headerburger.jpg");
    height: 27vw;
    line-height: 27vw;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1025px) {
  .c-contents__archive {
    width: calc(100vw - 300px);
  }
}

.c-contents__block__archive h2 {
  margin: 0;
  font-size: 36px;
  padding-left: 25px;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 296;
}
@media screen and (min-width: 600px) {
  .c-contents__block__archive h2 {
    left: 60px;
    font-size: 45px;
  }
}
.c-contents__block__archive p {
  margin: 0;
  font-size: 20px;
  padding: 50px 0 0 25px;
  color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 296;
}
@media screen and (min-width: 600px) {
  .c-contents__block__archive p {
    padding: 5px 0 0 220px;
  }
}

.c-contents__p__archiveseach {
  left: 70px;
}

/* Menu チーズバーガーの影の部分 */
.c-contents__archive::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 295;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}
/*--------------------------- 
   single の部分
---------------------------- */
.c-contents__single {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: 60vw;
  line-height: 60vw;
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .c-contents__single {
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 0.33);
    line-height: calc((100vw - 300px) * 0.33);
  }
}

.c-contents__single {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: 60vw;
  line-height: 60vw;
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .c-contents__single {
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 0.33);
    line-height: calc((100vw - 300px) * 0.33);
  }
}

.c-contents__block__single h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  padding-left: 25px;
  color: #ffffff;
}

/*--------------------------- 
   page の部分
---------------------------- */
.c-contents__page {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: 60vw;
  line-height: 60vw;
  background-image: url("../img/iphone_shop_photo.jpg");
  background-size: cover;
  color: #ffffff;
}
@media screen and (min-width: 1025px) {
  .c-contents__page {
    background-image: url("../img/pc_shop_photo.jpg");
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 0.33);
    line-height: calc((100vw - 300px) * 0.33);
  }
}

.c-contents__block__page h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  padding-left: 25px;
  color: #ffffff;
}

/* --------------------------------------------------------------
    WordPress 詳細ページの css 調整
  ---------------------------------------------------------------*/
.wp-block-media-text {
  margin: 25px 0;
}

figure.wp-block-image {
  width: 100%;
}
@media screen and (min-width: 600px) {
  figure.wp-block-image {
    width: 50%;
  }
}
.wp-block-table table {
  border-collapse: collapse;
  margin: 0;
  padding: 30px 0;
  border: 1px solid #000;
}
.wp-block-table table tr td {
  padding: 20px;
  border: 1px solid #000;
}

.wp-search__list ul {
  display: none;
}

/*----------------------------------------------
    WordPress アーカイブサーチの余白調整
  ----------------------------------------------*/
.wp-search__list {
  margin-top: 35px;
}

.wp-search__nolist {
  margin: 10px 0 0 20px;
}
/*# sourceMappingURL=style.css.map */