/* ヘッダー */
.c-header {
  background-color: #fff7ef;
  text-align: center;
}

.c-logo__h1 {
  margin-top: 5px;
}

/* ヘッダー PC版の並び方を左右並びに変更 */
.c-header__pcdisplay {
  @media screen and (min-width: 1025px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }  
}
