@use "../../foundation/base" as base;


/* ------------------------------------
      index
   ------------------------------------ */
/* 上部の「ダミーサイト」のところ */
.u_contents-h2 {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: calc(100vw * 0.76);
  line-height: calc(100vw * 0.76);
  background-image: url("../img/iphone_damiisite.jpg");
  background-size: contain;
  color: #ffffff;
  font-size: 36px;
  padding-left: 25px;
  @include base.mq(tb) {                                    // @media screen and (min-width: 600px)
    background-image: url("../img/pc_damiisite.jpg");
    height: calc(100vw * 0.27);
    line-height: calc(100vw * 0.27);
    background-size: cover;
  }
  @include base.mq(pc) {                                    // @media screen and (min-width: 1025px)
    width: calc(100vw - 300px);
  }
}

/*------------------------------------------ 
   archive.page の部分
  ----------------------------------------- */
/* Menu チーズバーガーの部分 */
.c-contents__archive {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: calc(100vw * 0.76);
  line-height: calc(100vw * 0.76);
  background-image: url("../img/arvhive_burger.jpg");
  background-size: cover;
  color: #ffffff;
  font-size: 36px;
  padding-left: 25px;
  position: relative;
  @include base.mq(tb) {                                       // @media screen and (min-width: 600px)
    background-image: url("../img/archive_headerburger.jpg");  //PC版は画像を入れ替え
    height: calc(100vw * 0.27);
    line-height: calc(100vw * 0.27);
    background-size: cover;
    background-position: center;
  }
  @include base.mq(pc) {                                       // @media screen and (min-width: 1025px)
    width: calc(100vw - 300px);
  }
}

.c-contents__block__archive {
  h2 {
    margin: 0;
    font-size: 36px;
    padding-left: 25px;
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 296;
    @include base.mq(tb) {              // @media screen and (min-width: 600px)
      left: 60px;
      font-size: 45px;
    }
  }
  p {
    margin: 0;
    font-size: 20px;
    padding: 50px 0 0 25px;
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 296;
    @include base.mq(tb) {              // @media screen and (min-width: 600px)
      padding: 5px 0 0 220px;
    }
  }
}

.c-contents__p__archiveseach {
  left: 70px;
}


/* Menu チーズバーガーの影の部分 */
.c-contents__archive::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;         // 100vw
  height: 100%;
  z-index: 295;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  @include base.mq(pc) {                // @media screen and (min-width: 1025px)

  }
}

//.c-contents__h2__archiveseach


/*--------------------------- 
   single の部分
---------------------------- */
//h1 チーズバーガー
.c-contents__single {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: calc(100vw * 0.6);
  line-height: calc(100vw * 0.6);
  background-image: url("../img/cheezburger_fot_header.jpg");
  background-size: cover;
  @include base.mq(tb) {                                             // @media screen and (min-width: 600px)
  }
  @include base.mq(pc) {                                             // @media screen and (min-width: 1025px)
    background-image: url("../img/cheezburger_fot_pcheader.jpg");    //PC版は画像を入れ替え  
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 0.33);
    line-height: calc((100vw - 300px) * 0.33);
  }
} 

.c-contents__single {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: calc(100vw * 0.6);
  line-height: calc(100vw * 0.6);
  background-image: url("../img/cheezburger_fot_header.jpg");
  background-size: cover;
  @include base.mq(tb) {                                             // @media screen and (min-width: 600px)
  }
  @include base.mq(pc) {                                             // @media screen and (min-width: 1025px)
    background-image: url("../img/cheezburger_fot_pcheader.jpg");    //PC版は画像を入れ替え  
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 0.33);
    line-height: calc((100vw - 300px) * 0.33);
  }
}

.c-contents__block__single {
  h2 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    padding-left: 25px;
    color: #ffffff;
  }
}


/*--------------------------- 
   page の部分
---------------------------- */
//h1 チーズバーガー
.c-contents__page {
  margin: 0;
  display: inline-block;
  width: 100vw;
  height: calc(100vw * 0.6);
  line-height: calc(100vw * 0.6);
  background-image: url("../img/iphone_shop_photo.jpg");
  background-size: cover;
  color: #ffffff;
  @include base.mq(tb) {                                  // @media screen and (min-width: 600px)
  }
  @include base.mq(pc) {                                  // @media screen and (min-width: 1025px)
    background-image: url("../img/pc_shop_photo.jpg");    //PC版は画像を入れ替え
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 0.33);
    line-height: calc((100vw - 300px) * 0.33);
  }
}

.c-contents__block__page {
  h2 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    padding-left: 25px;
    color: #ffffff;
  }
}
