@use "../../foundation/base" as base;


/* -------------------------------------
     index
   ------------------------------------- */
/* ページ最下段の地図 */
.p-section {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0;
  background-image: url(../img/iphone-map.jpg);
  width: 100vw;
  height: calc(100vw * 1.84);
  background-repeat: no-repeat;
  background-size: cover;          // cover に変更
//タブレット版
  @include base.mq(tb) {                                // @media screen and (min-width: 600px)
    background-image: url(../img/tablet-map.jpg);
    height: calc(100vw * 0.5);
    background-size: cover;
  }
//PC版
  @include base.mq(pc) {                                 // @media screen and (min-width: 1025px)
    background-image: url(../img/pc-map.jpg);
    width: calc(100vw - 300px);
    height: calc(100vw * 0.3);
  }
  /* 地図の中のコメント */
  h4 {
    position: absolute;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    z-index: 96;
  }
  p {
    position: absolute;
    color: #fff;
    margin: 0;
    font-size: 16px;
    padding: 130px 40px 50px 40px;
    z-index: 96;
    @include base.mq(pc) {                 // @media screen and (min-width: 1025px)
      width: 65%;
    }
  }
}

/* 地図の背景を黒く透過する */
.p-section::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: 95;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  @include base.mq(pc) {                   // @media screen and (min-width: 1025px)
    width: 65%;
  }
}

/* ---------------------------------------
     全ページ共通のフッター
  ---------------------------------------- */
/* --- footer --- */
.l-footer {
  margin-top: 0;
  padding-top: 0;
  width: 100vw;
  height: 200px;
  text-align: center;
  background-color: #9d8670;
  .p-footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px 0 0 0;
    li {
      display: block;
      width: auto;
      padding: 0 10px;
      font-size: 20px;
      color: #ffffff;
      list-style: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.p-footer__1 {
  border-right: 1px #ffffff solid;
}

.copyright {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  color: #ffffff;
}
.p-footer {
  a {
    text-decoration: none;           // ショップの色を白に
    color: #ffffff;
  }
}


/* ---------------------------------------
   archiveページ 
  ----------------------------------------*/
/* バーガーの写真と小見出しのブロック */
/*
.p-burgerlist__archive {           // これは１つのブロックの指定（自動調整される）
  ul {
  margin: 0 20px 20px 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }

  li {              // 個々のリスト
    width: 100%;
    display: block;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    background-color: #3C2B1C;
//    border: 0px red solid;   //
    color: #fff;
    @media screen and (min-width: 600px) {
      width: calc((100vw - 40px) / 2);
      height: calc((100vw - 40px) * 0.45);
      background-position: center;
      @media screen and (min-width: 1025px) {
        width: calc((100vw - 340px) / 2);
        height: calc((100vw - 340px) * 0.37);  
      }
    }
    h4 {
      margin: 9% 0;         // margin: 30px 0;
      font-size: 30px;        // font-size: 30px;
      @media screen and (min-width: 600px) {

      }
    }
    h5 {
      margin: 0;
      font-size: 22px;     // 22px
      @media screen and (min-width: 600px) {
      }
    }
    p {
      font-size: 15px;
      @media screen and (min-width: 600px) {
        font-size: 2vw;
        @media screen and (min-width: 1025px) {
          font-size: 1.3vw;
        }
      }
    }
    }
  }
}

.p-burgerlist__foto__archive {
  display: block;
  width: 100%;
  height: calc((100vw - 40px) * 0.7 );
  background-image: url(../img/burgersnap.jpg);
  background-size: cover;
  @media screen and (min-width: 1025px) {
  }
}
*/

.p-burgerlist__archive {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 20px;
  @include base.mq(tb) {                  // @media screen and (min-width: 600px)
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.p-burgerlist__foto__archive {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: auto;
  @include base.mq(tb) {                  // @media screen and (min-width: 600px)
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    object-fit: cover;
    object-position: 0% 100%;
  }
}

.p-burgerlist__archive img {                          /* wordpress吐き出し対応にした!!! */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: auto;
  @include base.mq(tb) {                  // @media screen and (min-width: 600px)
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.p-burgerlist__text__archive {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #3C2B1C;
  color: #ffffff;
  @include base.mq(tb) {                   // @media screen and (min-width: 600px)
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  h4 {
    margin: 20px 0 20px 20px;         // margin: 30px 0;
    font-size: 30px;        // font-size: 30px;
    @include base.mq(tb) {                 // @media screen and (min-width: 600px)
      font-size: 22px;
    }
  }
  h5 {
    margin: 0 0 0 20px;
    font-size: 22px;     // 22px
    @include base.mq(tb) {                 // @media screen and (min-width: 600px)
      font-size: 18px;
    }
  }
  p {
    margin: 5px 20px 0 20px;
    font-size: 15px;
  }
}