/* 下段の地図 */
.p-section {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0;
  background-image: url(../img/iphone-map.jpg);
  width: 100vw;
  height: calc(100vw * 1.84);
  background-repeat: no-repeat;
  background-size: contain;
//スマホ版
  @media screen and (min-width: 600px) {
    background-image: url(../img/tablet-map.jpg);
    height: calc(100vw * 0.5);
    background-size: cover;
  }
//PC版
  @media screen and (min-width: 1025px) {
    background-image: url(../img/pc-map.jpg);
    width: calc(100vw - 300px);
    height: calc(100vw * 0.3);
  }
  /* 地図の中のコメント */
  h4 {
    position: absolute;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    z-index: 96;
  }
  p {
    position: absolute;
    color: #fff;
    margin: 0;
    font-size: 16px;
    padding: 130px 40px 50px 40px;
    z-index: 96;
    @media screen and (min-width: 1025px) {
      width: 65%;
    }
  }
}

/* 地図の背景を黒く透過する */
.p-section::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: 95;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  @media screen and (min-width: 1025px) {
    width: 65%;
  }
}

/* footer */
.l-footer {
  margin-top: 0;
  padding-top: 0;
  width: 100vw;
  height: 200px;
  text-align: center;
  background-color: #9d8670;
  .p-footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px 0 0 0;
    li {
      display: block;
      width: auto;
      padding: 0 10px;
      font-size: 20px;
      color: #ffffff;
      list-style: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.p-footer__1 {
  border-right: 1px #ffffff solid;
}


.copyright {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  color: #ffffff;
}
