@use "../../foundation/base" as base;


/* 地図見出しの下線 */
.p-section {
  position: relative;
}
.p-section h4::after {
  content: "";
  display:block;
  width:90px;
  height:2px;
  background-color: #fff;
  position:absolute;
  z-index: 96;
  top: 100px;
  left: 40px;
}


/* -------------------------- 
    archiveページ 
----------------------------*/
/* ページネーション */
/*
.p-pagenation {
  display: flex;
  justify-content: center;
  font-size: 13px;
  .p-pagenation__page {    //page 1/10 のところ
    display: none;
    height: 50px;
    line-height: 50px;
    @include base.mq(tb) {             // @media screen and (min-width: 600px)
      display: block;
    }
  }
}
  .p-pagenation__list {
    ul {
    width: 100vw;
    padding: 0 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    @include base.mq(tb) {             // @media screen and (min-width: 600px)
      width: 100%;
      padding: 30px;
    }
    .p-pagenation__btn {
      display: inline;
      list-style: none;
      padding: 5px 10px;

    }
    .p-pagenation__number {
      display: block;
      list-style: none;
      padding: 5px 10px;
      border: 1px #ccc solid;
      display: none;
      cursor: pointer;
      &:active {
        background-color: #3C2B1C;
        color: #fff;
      }
      @include base.mq(tb) {            // @media screen and (min-width: 600px)
        display: block;
        margin: 0 5px;
      }
    }
  }
}*/

/*-----------------------------------------------
   WordPress用のページネーションの調整
  -----------------------------------------------*/

.p-pagenation__wplist {
  margin: 0 25px 0 25px;
  width: 90%;
  text-align: right;
  @include base.mq(tb) {            // @media screen and (min-width: 600px)
    display: inline-block;
    width: 100%;
    text-align: center;
  }  
}

.wp-pagenavi {
  width: 100%;
  font-size: 15px;
  margin: 40px 0 0 0;
  padding: 20px 0 20px 0;
  text-align: left;
  display: table;
  @include base.mq(tb) {            // @media screen and (min-width: 600px)
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}

.pages {
  display: inline-block;
  display: none;  
  @include base.mq(tb) {            // @media screen and (min-width: 600px)
    display: inline-block;
    height: 50px;
    line-height: 50px;
  }
}

.previouspostslink {
  display: inline-block;
  color: #3C2A10;
  font-size: 25px;
  padding: 0;
  cursor: pointer;

  @include base.mq(tb) {            // @media screen and (min-width: 600px)
    display: inline-block;
    padding: 0 0 0 25px;
  }
  span {
    display: inline-block;  
    font-size: 20px;
    @include base.mq(tb) {            // @media screen and (min-width: 600px)
      display: none;
      margin-left: 25px;
    }
  }
}

.current, .page {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px 15px;
  color: #3C2B1C;
  border: 1px #ccc solid;
  cursor: pointer;
  &:active {
    background-color: #3C2B1C;
    color: #fff;
  }
  display: none;  
  @include base.mq(tb) {            // @media screen and (min-width: 600px)
    display: inline-block;
  }
}

.nextpostslink {
  margin: 0 0 0 auto;
  display: table-cell;
  text-align: right;
  color: #3C2A10;
  font-size: 25px;
  cursor: pointer;
  @include base.mq(tb) {            // @media screen and (min-width: 600px)
    display: inline-block;
    padding: 0 0 0 25px;
    margin: 0;
  }
  span {
    font-size: 20px;
    display: inline-block;  
    @include base.mq(tb) {            // @media screen and (min-width: 600px)
      display: none;
    }
  }
}






/* -----------------------
  singleページ
  ------------------------*/
// h2 h3 段落の部分
.p-paragraph__single {
  margin: 30px 25px;
  color: #3C2A10;
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  
/* Blockquote 引用タグ */
  blockquote {
    margin: 0;
    padding: 20px 20px;
    background-color: #F5F5F5;
  }
}


/* ９バーガーグリッドレイアウト */
.p-cheezburger__9grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px;
}

