@use "../foundation/base" as base;

body {
  overflow-x: hidden;
}
.body-active {             /* ここを追加した */
  position: fixed;
}

.l-header {
  @include base.mq(pc) {           // @media screen and (min-width: 1025px)
    width: calc(100vw - 300px);
  }  
}

.l-branch-menu ul {
  @include base.mq(tb) {         // @media screen and (min-width: 600px)
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


