body {
  overflow-x: hidden;
}
.body-active {             /* ここを追加した */
  position: fixed;
}

.l-header {
  @media screen and (min-width: 1025px) {
    width: calc(100vw - 300px);
  }  
}

.l-branch-menu ul {
  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


